In [13]:
import pandas as pd
import numpy as np
tesla_xls = pd.ExcelFile('MaxRange Tesla Battery Survey.xlsx')
tesla_xls.sheet_names

[u'Asia Pacific & Europe (excl UK)',
 u'Canada',
 u'USA',
 u'UK',
 u'Range Units',
 u'Feedback',
 u'Charts',
 u'Stats',
 u'Charts Data',
 u'Administrative',
 u'Editor Comments',
 u'Stats Data',
 u'Temperature effect',
 u'Column names compared']

In [23]:
asia_pacific_europe = tesla_xls.parse('Asia Pacific & Europe (excl UK)',skiprows=2)
asia_pacific_europe.head(10)

,ID,Username (can be anything inoffensive),Location,Vehicle manufacture date (double click empty cell),Date of range reading (double click empty cell),Model,Mileage in km,Mileage per day,Typical Range at 100% charge in km,Range mode on/off at time of reading?,...,Average capacity of all cars at this mileage according to chart trendline,Your capacity minus chart trendline at this mileage,Dynamic data (copy from here),Static data (paste values here),Mixed data,Data changed or new data?,Display changes,Dynamic data changes for selected entry,Static data changes for selected entry,"Blank column for arrayformula in ""Charts Data"""
0,1,bpsmits,Asia Pacific & Europe (excl UK),2013-11-20,2014-09-18,Model S 85,33366.0,110.1,393.0,On,...,0.963287,0.021713,bpsmits|Asia Pacific & Europe (excl UK)|20-Nov...,bpsmits|Asia Pacific & Europe (excl UK)|20-Nov...,bpsmits|Asia Pacific & Europe (excl UK)|20-Nov...,NaN,NaN,NaN,NaN,NaN
1,2,Hans Noordsij,Asia Pacific & Europe (excl UK),2014-03-29,2014-09-18,Model S 85,32000.0,183.9,392.0,On,...,0.964050,0.018450,Hans Noordsij|Asia Pacific & Europe (excl UK)|...,Hans Noordsij|Asia Pacific & Europe (excl UK)|...,Hans Noordsij|Asia Pacific & Europe (excl UK)|...,NaN,NaN,NaN,NaN,NaN
2,3,Janc,Asia Pacific & Europe (excl UK),2014-06-24,2014-09-18,Model S 85,7100.0,81.6,391.0,On,...,0.987592,-0.007692,Janc|Asia Pacific & Europe (excl UK)|24-Jun-20...,Janc|Asia Pacific & Europe (excl UK)|24-Jun-20...,Janc|Asia Pacific & Europe (excl UK)|24-Jun-20...,NaN,NaN,NaN,NaN,NaN
3,4,Merijn,Asia Pacific & Europe (excl UK),2013-11-18,2014-09-18,Model S 85,35000.0,114.8,381.0,Off,...,0.962419,0.004581,Merijn|Asia Pacific & Europe (excl UK)|18-Nov-...,Merijn|Asia Pacific & Europe (excl UK)|18-Nov-...,Merijn|Asia Pacific & Europe (excl UK)|18-Nov-...,NaN,NaN,NaN,NaN,NaN
4,5,RCH1708,Asia Pacific & Europe (excl UK),2013-11-21,2014-09-18,Unspecified 85 kWh,27000.0,89.4,381.0,Unknown,...,0.967173,-0.005073,RCH1708|Asia Pacific & Europe (excl UK)|21-Nov...,RCH1708|Asia Pacific & Europe (excl UK)|21-Nov...,RCH1708|Asia Pacific & Europe (excl UK)|21-Nov...,NaN,NaN,NaN,NaN,NaN
5,6,S-19910,Asia Pacific & Europe (excl UK),2013-11-26,2014-09-18,Model S P85,47352.0,159.4,377.0,Off,...,0.957104,-0.000304,S-19910|Asia Pacific & Europe (excl UK)|26-Nov...,S-19910|Asia Pacific & Europe (excl UK)|26-Nov...,S-19910|Asia Pacific & Europe (excl UK)|26-Nov...,NaN,NaN,NaN,NaN,NaN
6,7,Go4IT,Asia Pacific & Europe (excl UK),2013-09-10,2014-09-19,Model S P85,67000.0,178.7,385.0,On,...,0.951428,0.013472,Go4IT|Asia Pacific & Europe (excl UK)|10-Sep-2...,Go4IT|Asia Pacific & Europe (excl UK)|10-Sep-2...,Go4IT|Asia Pacific & Europe (excl UK)|10-Sep-2...,NaN,NaN,NaN,NaN,NaN
7,8,pvh,Asia Pacific & Europe (excl UK),2014-03-13,2014-09-19,Model S P85+,14977.0,78.4,395.0,Unknown,...,0.977543,0.022457,pvh|Asia Pacific & Europe (excl UK)|13-Mar-201...,pvh|Asia Pacific & Europe (excl UK)|13-Mar-201...,pvh|Asia Pacific & Europe (excl UK)|13-Mar-201...,NaN,NaN,NaN,NaN,NaN
8,9,pvandamcom,Asia Pacific & Europe (excl UK),2014-08-16,2014-09-20,Model S P85,3434.0,95.4,394.0,Unknown,...,0.993527,0.003873,pvandamcom|Asia Pacific & Europe (excl UK)|16-...,pvandamcom|Asia Pacific & Europe (excl UK)|16-...,pvandamcom|Asia Pacific & Europe (excl UK)|16-...,NaN,NaN,NaN,NaN,NaN
9,10,Rprp,Asia Pacific & Europe (excl UK),2013-12-31,2014-09-21,Model S P85,46000.0,173.6,381.0,Unknown,...,0.957598,0.006902,Rprp|Asia Pacific & Europe (excl UK)|31-Dec-20...,Rprp|Asia Pacific & Europe (excl UK)|31-Dec-20...,Rprp|Asia Pacific & Europe (excl UK)|31-Dec-20...,NaN,NaN,NaN,NaN,NaN

In [16]:
asia_pacific_europe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 952 entries, 0 to 951
Data columns (total 54 columns):
ID                                                                                 952 non-null int64
Username (can be anything inoffensive)                                             917 non-null object
Location                                                                           917 non-null object
Vehicle manufacture date (double click empty cell)                                 914 non-null datetime64[ns]
Date of range reading
(double click empty cell)                                    917 non-null datetime64[ns]
Model                                                                              917 non-null object
Mileage in km                                                                      917 non-null float64
Mileage per day                                                                    914 non-null float64
Typical Range at 100% charge
in km                                                 917 non-null float64
Range mode on/off at time of reading?                                              917 non-null object
Typical range after correction if range mode was off                               917 non-null float64
Did you have a battery replacement?                                                917 non-null object
What happened to typical range after replacement?                                  58 non-null object
At what km did you replace battery?                                                58 non-null float64
Mileage in km after correction if battery was replaced                             917 non-null float64
Battery age (days) after correction if battery was replaced                        914 non-null float64
Lifetime average energy consumption at the time of reading Wh/km                   909 non-null float64
Typical range of this model when new                                               917 non-null float64
Remaining original range                                                           917 non-null float64
Remaining usable capacity until typical range shows zero                           917 non-null float64
Unanswered questions                                                               917 non-null float64
Frequency of supercharging                                                         837 non-null object
Frequency of 100% charge                                                           833 non-null object
Frequency of almost empty (8km or less)                                            834 non-null object
Daily charge level                                                                 680 non-null float64
Daily charge power in kW                                                           582 non-null object
What was 100% typical range when the car was new?                                  414 non-null float64
Range mode on/off at time of reading previous column?                              424 non-null object
Typical range at the beginning of the trip                                         81 non-null float64
Typical range at the end of the trip                                               75 non-null float64
kWh consumption for this trip
(comma or dot is fine)                               72 non-null object
Range mode on/off when you read these trip numbers?                                75 non-null object
Comments (tire or wheel information is not important)                              313 non-null object
Typical range consumption for trip                                                 84 non-null object
Typical range after correction if range mode was off.1                             70 non-null float64
Remaining usable capacity until typical range shows zero according to trip data    70 non-null float64
Remaining original capacity                                                        70 non-null float64
trip based battery capacity calculation explained                                  70 non-null object
100% range when the car was new after range mode adjustment                        414 non-null float64
Vehicle age (days)                                                                 914 non-null float64
Cycles                                                                             909 non-null float64
Mileage in km.1                                                                    917 non-null float64
wh/km                                                                              909 non-null float64
Unnamed: 43                                                                        0 non-null float64
Average capacity of all cars at this mileage according to chart trendline          917 non-null float64
Your capacity minus chart trendline at this mileage                                917 non-null float64
Dynamic data (copy from here)                                                      917 non-null object
Static data (paste values here)                                                    917 non-null object
Mixed data                                                                         917 non-null object
Data changed or new data?                                                          0 non-null float64
Display changes                                                                    0 non-null float64
Dynamic data changes for selected entry                                            0 non-null float64
Static data changes for selected entry                                             0 non-null float64
Blank column for arrayformula in "Charts Data"                                     0 non-null float64
dtypes: datetime64[ns](2), float64(32), int64(1), object(19)
memory usage: 401.7+ KB

In [18]:
asia_pacific_europe.isnull().sum()

ID                                                                                   0
Username (can be anything inoffensive)                                              35
Location                                                                            35
Vehicle manufacture date (double click empty cell)                                  38
Date of range reading\n(double click empty cell)                                    35
Model                                                                               35
Mileage in km                                                                       35
Mileage per day                                                                     38
Typical Range at 100% charge\nin km                                                 35
Range mode on/off at time of reading?                                               35
Typical range after correction if range mode was off                                35
Did you have a battery replacement?                                                 35
What happened to typical range after replacement?                                  894
At what km did you replace battery?                                                894
Mileage in km after correction if battery was replaced                              35
Battery age (days) after correction if battery was replaced                         38
Lifetime average energy consumption at the time of reading Wh/km                    43
Typical range of this model when new                                                35
Remaining original range                                                            35
Remaining usable capacity until typical range shows zero                            35
Unanswered questions                                                                35
Frequency of supercharging                                                         115
Frequency of 100% charge                                                           119
Frequency of almost empty (8km or less)                                            118
Daily charge level                                                                 272
Daily charge power in kW                                                           370
What was 100% typical range when the car was new?                                  538
Range mode on/off at time of reading previous column?                              528
Typical range at the beginning of the trip                                         871
Typical range at the end of the trip                                               877
kWh consumption for this trip\n(comma or dot is fine)                              880
Range mode on/off when you read these trip numbers?                                877
Comments (tire or wheel information is not important)                              639
Typical range consumption for trip                                                 868
Typical range after correction if range mode was off.1                             882
Remaining usable capacity until typical range shows zero according to trip data    882
Remaining original capacity                                                        882
trip based battery capacity calculation explained                                  882
100% range when the car was new after range mode adjustment                        538
Vehicle age (days)                                                                  38
Cycles                                                                              43
Mileage in km.1                                                                     35
wh/km                                                                               43
Unnamed: 43                                                                        952
Average capacity of all cars at this mileage according to chart trendline           35
Your capacity minus chart trendline at this mileage                                 35
Dynamic data (copy from here)                                                       35
Static data (paste values here)                                                     35
Mixed data                                                                          35
Data changed or new data?                                                          952
Display changes                                                                    952
Dynamic data changes for selected entry                                            952
Static data changes for selected entry                                             952
Blank column for arrayformula in "Charts Data"                                     952
dtype: int64

In [25]:
asia_pacific_europe = asia_pacific_europe.dropna(subset=['Location'])
asia_pacific_europe.tail()

,ID,Username (can be anything inoffensive),Location,Vehicle manufacture date (double click empty cell),Date of range reading (double click empty cell),Model,Mileage in km,Mileage per day,Typical Range at 100% charge in km,Range mode on/off at time of reading?,...,Average capacity of all cars at this mileage according to chart trendline,Your capacity minus chart trendline at this mileage,Dynamic data (copy from here),Static data (paste values here),Mixed data,Data changed or new data?,Display changes,Dynamic data changes for selected entry,Static data changes for selected entry,"Blank column for arrayformula in ""Charts Data"""
912,913,lcs.toulouse,Asia Pacific & Europe (excl UK),2016-04-01,2017-11-19,Model S 90D,37425.0,62.6,436.0,Off,...,0.961213,0.015587,lcs.toulouse|Asia Pacific & Europe (excl UK)|0...,lcs.toulouse|Asia Pacific & Europe (excl UK)|0...,lcs.toulouse|Asia Pacific & Europe (excl UK)|0...,NaN,NaN,NaN,NaN,NaN
913,914,eric verlaet,Asia Pacific & Europe (excl UK),2015-09-15,2017-11-19,Model S 70D,102748.0,128.9,352.0,On,...,0.944399,0.020001,eric verlaet|Asia Pacific & Europe (excl UK)|1...,eric verlaet|Asia Pacific & Europe (excl UK)|1...,eric verlaet|Asia Pacific & Europe (excl UK)|1...,NaN,NaN,NaN,NaN,NaN
914,915,raptorsf,Asia Pacific & Europe (excl UK),2017-09-13,2017-11-20,Model S 75D,3200.0,46.4,389.0,On,...,0.993939,0.008661,raptorsf|Asia Pacific & Europe (excl UK)|13-Se...,raptorsf|Asia Pacific & Europe (excl UK)|13-Se...,raptorsf|Asia Pacific & Europe (excl UK)|13-Se...,NaN,NaN,NaN,NaN,NaN
915,916,idefix,Asia Pacific & Europe (excl UK),2016-09-08,2017-11-22,Model S 70D,55355.0,125.5,340.0,Off,...,0.954502,-0.011202,idefix|Asia Pacific & Europe (excl UK)|08-Sep-...,idefix|Asia Pacific & Europe (excl UK)|08-Sep-...,idefix|Asia Pacific & Europe (excl UK)|08-Sep-...,NaN,NaN,NaN,NaN,NaN
916,917,tliviuc,Asia Pacific & Europe (excl UK),2017-08-01,2017-11-26,Model S 90D,3323.0,28.2,449.0,Off,...,0.993722,0.012178,tliviuc|Asia Pacific & Europe (excl UK)|01-Aug...,tliviuc|Asia Pacific & Europe (excl UK)|01-Aug...,tliviuc|Asia Pacific & Europe (excl UK)|01-Aug...,NaN,NaN,NaN,NaN,NaN

In [26]:
canada = tesla_xls.parse('Canada',skiprows=2)
canada.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 54 columns):
ID                                                                                 72 non-null int64
Username (can be anything inoffensive)                                             41 non-null object
Location                                                                           41 non-null object
Vehicle manufacture date (double click empty cell)                                 41 non-null datetime64[ns]
Date of range reading
(double click empty cell)                                    41 non-null datetime64[ns]
Model                                                                              41 non-null object
Mileage in km                                                                      41 non-null float64
Mileage per day                                                                    41 non-null float64
EPA rated range at 100% charge
in km                                               41 non-null float64
Range mode on/off at time of reading?                                              41 non-null object
EPA range after correction if range mode was off                                   41 non-null float64
Did you have a battery replacement?                                                41 non-null object
What happened to EPA range after replacement?                                      1 non-null object
At what km did you replace battery?                                                1 non-null float64
Mileage in km after correction if battery was replaced                             41 non-null float64
Battery age (days) after correction if battery was replaced                        41 non-null float64
Lifetime average energy consumption at the time of reading Wh/km                   41 non-null float64
Rated range of this model when new                                                 41 non-null float64
Remaining original range                                                           41 non-null float64
Remaining usable capacity until typical range shows zero                           41 non-null float64
Unanswered questions                                                               41 non-null float64
Frequency of supercharging                                                         41 non-null object
Frequency of 100% charge                                                           40 non-null object
Frequency of almost empty (8km or less)                                            40 non-null object
Daily charge level                                                                 40 non-null float64
Daily charge power in kW                                                           24 non-null float64
What was 100% rated range when the car was new?                                    22 non-null float64
Range mode on/off at time of reading previous column?                              27 non-null object
Rated range at the beginning of the trip                                           4 non-null float64
Rated range at the end of the trip                                                 4 non-null float64
kWh consumption for this trip
(comma or dot is fine)                               2 non-null float64
Range mode on/off when you read these trip numbers?                                4 non-null object
Comments (tire or wheel information is not important)                              8 non-null object
Typical range consumption for trip                                                 4 non-null object
Typical range after correction if range mode was off                               2 non-null float64
Remaining usable capacity until typical range shows zero according to trip data    2 non-null float64
Remaining original capacity                                                        2 non-null float64
trip based battery capacity calculation explained                                  2 non-null object
100% range when the car was new after range mode adjustment                        22 non-null float64
Vehicle age (days)                                                                 41 non-null float64
Cycles                                                                             41 non-null float64
Mileage in km.1                                                                    41 non-null float64
wh/km                                                                              41 non-null float64
Unnamed: 43                                                                        41 non-null float64
Average capacity of all cars at this mileage according to chart trendline          41 non-null float64
Your capacity minus chart trendline at this mileage                                41 non-null float64
Dynamic data (copy from here)                                                      41 non-null object
Static data (paste values here)                                                    41 non-null object
Mixed data                                                                         41 non-null object
Data changed or new data?                                                          0 non-null float64
Display changes                                                                    0 non-null float64
Dynamic data changes for selected entry                                            0 non-null float64
Static data changes for selected entry                                             0 non-null float64
Blank column for arrayformula in "Charts Data"                                     0 non-null float64
dtypes: datetime64[ns](2), float64(34), int64(1), object(17)
memory usage: 30.4+ KB

In [27]:
canada.tail()

,ID,Username (can be anything inoffensive),Location,Vehicle manufacture date (double click empty cell),Date of range reading (double click empty cell),Model,Mileage in km,Mileage per day,EPA rated range at 100% charge in km,Range mode on/off at time of reading?,...,Average capacity of all cars at this mileage according to chart trendline,Your capacity minus chart trendline at this mileage,Dynamic data (copy from here),Static data (paste values here),Mixed data,Data changed or new data?,Display changes,Dynamic data changes for selected entry,Static data changes for selected entry,"Blank column for arrayformula in ""Charts Data"""
67,68,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,69,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,70,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,71,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,72,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
canada = canada.dropna(subset=['Location'])
canada.tail()

,ID,Username (can be anything inoffensive),Location,Vehicle manufacture date (double click empty cell),Date of range reading (double click empty cell),Model,Mileage in km,Mileage per day,EPA rated range at 100% charge in km,Range mode on/off at time of reading?,...,Average capacity of all cars at this mileage according to chart trendline,Your capacity minus chart trendline at this mileage,Dynamic data (copy from here),Static data (paste values here),Mixed data,Data changed or new data?,Display changes,Dynamic data changes for selected entry,Static data changes for selected entry,"Blank column for arrayformula in ""Charts Data"""
36,37,AC1K,Canada,2013-07-20,2017-08-23,Model S P85,60113.0,40.2,418.0,On,...,0.953163,0.012237,AC1K|Canada|20-Jul-2013|23-Aug-2017|Model S P8...,AC1K|Canada|20-Jul-2013|23-Aug-2017|Model S P8...,AC1K|Canada|20-Jul-2013|23-Aug-2017|Model S P8...,NaN,NaN,NaN,NaN,NaN
37,38,iKhalid,Canada,2014-02-15,2017-09-06,Model S 60,92242.0,71.0,298.0,Off,...,0.946262,-0.053462,iKhalid|Canada|15-Feb-2014|06-Sep-2017|Model S...,iKhalid|Canada|15-Feb-2014|06-Sep-2017|Model S...,iKhalid|Canada|15-Feb-2014|06-Sep-2017|Model S...,NaN,NaN,NaN,NaN,NaN
38,39,CAHL,Canada,2017-02-15,2017-10-29,Model S 90D,5704.0,22.2,469.0,Off,...,0.989744,0.010156,CAHL|Canada|15-Feb-2017|29-Oct-2017|Model S 90...,CAHL|Canada|15-Feb-2017|29-Oct-2017|Model S 90...,CAHL|Canada|15-Feb-2017|29-Oct-2017|Model S 90...,NaN,NaN,NaN,NaN,NaN
39,40,CAHL,Canada,2017-02-15,2017-09-16,Model S 90D,2647.0,12.4,472.0,Off,...,0.994927,0.011373,CAHL|Canada|15-Feb-2017|16-Sep-2017|Model S 90...,CAHL|Canada|15-Feb-2017|16-Sep-2017|Model S 90...,CAHL|Canada|15-Feb-2017|16-Sep-2017|Model S 90...,NaN,NaN,NaN,NaN,NaN
40,41,Dark Matter,Canada,2014-12-11,2017-11-18,Model S 90,53900.0,50.2,452.0,On,...,0.999798,0.002402,Dark Matter|Canada|11-Dec-2014|18-Nov-2017|Mod...,Dark Matter|Canada|11-Dec-2014|18-Nov-2017|Mod...,Dark Matter|Canada|11-Dec-2014|18-Nov-2017|Mod...,NaN,NaN,NaN,NaN,NaN

In [31]:
usa = tesla_xls.parse('USA',skiprows=2)
usa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 54 columns):
ID                                                                                 213 non-null int64
Username (can be anything inoffensive)                                             182 non-null object
Location                                                                           182 non-null object
Vehicle manufacture date (double click empty cell)                                 182 non-null datetime64[ns]
Date of range reading
 (double click empty cell)                                   182 non-null datetime64[ns]
Model                                                                              182 non-null object
Mileage in miles
(type just digits, no comma)                                      182 non-null float64
Mileage per day                                                                    182 non-null float64
EPA rated range at 100% charge
in miles                                            182 non-null float64
Range mode on/off at time of reading?                                              182 non-null object
EPA range after correction if range mode was off                                   182 non-null float64
Did you have a battery replacement?                                                182 non-null object
What happened to EPA range after replacement?                                      7 non-null object
At what miles did you replace battery?                                             6 non-null float64
Mileage in mi after correction if battery was replaced                             182 non-null float64
Battery age (days) after correction if battery was replaced                        182 non-null float64
Lifetime average energy consumption at the time of reading Wh/mi                   178 non-null float64
Rated range of this model when new                                                 182 non-null float64
Remaining original range                                                           182 non-null float64
Remaining usable capacity until typical range shows zero                           182 non-null float64
Unanswered questions                                                               182 non-null float64
Frequency of supercharging                                                         169 non-null object
Frequency of 100% charge                                                           170 non-null object
Frequency of almost empty (5mi or less)                                            169 non-null object
Daily charge level                                                                 166 non-null float64
Daily charge power in kW                                                           111 non-null float64
What was 100% rated range when the car was new?                                    126 non-null float64
Range mode on/off at time of reading previous column?                              123 non-null object
Rated range at the beginning of the trip                                           17 non-null float64
Rated range at the end of the trip                                                 16 non-null float64
kWh consumption for this trip
(comma or dot is fine)                               15 non-null float64
Range mode on/off when you read these trip numbers?                                16 non-null object
Comments (tire or wheel information is not important)                              65 non-null object
Typical range consumption for trip                                                 17 non-null object
Typical range after correction if range mode was off                               15 non-null float64
Remaining usable capacity until typical range shows zero according to trip data    15 non-null float64
Remaining original capacity                                                        15 non-null float64
trip based battery capacity calculation explained                                  15 non-null object
100% range when the car was new after range mode adjustment                        126 non-null float64
Vehicle age (days)                                                                 182 non-null float64
Cycles                                                                             178 non-null float64
Mileage in km                                                                      182 non-null float64
wh/mi to wh/km                                                                     178 non-null float64
Unnamed: 43                                                                        182 non-null float64
Average capacity of all cars at this mileage according to chart trendline          182 non-null float64
Your capacity minus chart trendline at this mileage                                182 non-null float64
Dynamic data (copy from here)                                                      182 non-null object
Static data (paste values here)                                                    182 non-null object
Mixed data                                                                         182 non-null object
Data changed or new data?                                                          0 non-null float64
Display changes                                                                    0 non-null float64
Dynamic data changes for selected entry                                            0 non-null float64
Static data changes for selected entry                                             0 non-null float64
Blank column for arrayformula in "Charts Data"                                     0 non-null float64
dtypes: datetime64[ns](2), float64(34), int64(1), object(17)
memory usage: 89.9+ KB

In [33]:
usa = usa.dropna(subset=['Location'])
usa.tail()

,ID,Username (can be anything inoffensive),Location,Vehicle manufacture date (double click empty cell),Date of range reading (double click empty cell),Model,"Mileage in miles (type just digits, no comma)",Mileage per day,EPA rated range at 100% charge in miles,Range mode on/off at time of reading?,...,Average capacity of all cars at this mileage according to chart trendline,Your capacity minus chart trendline at this mileage,Dynamic data (copy from here),Static data (paste values here),Mixed data,Data changed or new data?,Display changes,Dynamic data changes for selected entry,Static data changes for selected entry,"Blank column for arrayformula in ""Charts Data"""
177,178,KmanAuto,USA,2016-01-15,2017-10-08,Model S 90D,46000.0,72.7,272.0,On,...,0.949840,-0.027840,KmanAuto|USA|15-Jan-2016|08-Oct-2017|Model S 9...,KmanAuto|USA|15-Jan-2016|08-Oct-2017|Model S 9...,KmanAuto|USA|15-Jan-2016|08-Oct-2017|Model S 9...,NaN,NaN,NaN,NaN,NaN
178,179,namu,usa,2017-01-01,2017-10-30,Model S 75D,18827.0,62.1,256.0,On,...,0.965051,0.012049,namu|usa|01-Jan-2017|30-Oct-2017|Model S 75D|1...,namu|usa|01-Jan-2017|30-Oct-2017|Model S 75D|1...,namu|usa|01-Jan-2017|30-Oct-2017|Model S 75D|1...,NaN,NaN,NaN,NaN,NaN
179,180,francop,USA,2017-04-14,2017-11-01,Model S 75D,5451.0,27.0,256.0,Off,...,0.985175,0.004325,francop|USA|14-Apr-2017|01-Nov-2017|Model S 75...,francop|USA|14-Apr-2017|01-Nov-2017|Model S 75...,francop|USA|14-Apr-2017|01-Nov-2017|Model S 75...,NaN,NaN,NaN,NaN,NaN
180,181,Yurand,USA,2013-07-17,2016-10-01,Model S 60,77500.0,66.1,191.0,Off,...,0.940720,-0.019720,Yurand|USA|17-Jul-2013|01-Oct-2016|Model S 60|...,Yurand|USA|17-Jul-2013|01-Oct-2016|Model S 60|...,Yurand|USA|17-Jul-2013|01-Oct-2016|Model S 60|...,NaN,NaN,NaN,NaN,NaN
181,182,Benjamin Brooks,USA,2013-02-05,2017-11-03,Model S 85,60373.0,34.8,252.0,On,...,0.945377,-0.008577,Benjamin Brooks|USA|05-Feb-2013|03-Nov-2017|Mo...,Benjamin Brooks|USA|05-Feb-2013|03-Nov-2017|Mo...,Benjamin Brooks|USA|05-Feb-2013|03-Nov-2017|Mo...,NaN,NaN,NaN,NaN,NaN

In [34]:
uk = tesla_xls.parse('UK',skiprows=2)
uk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 54 columns):
ID                                                                                 38 non-null int64
Username (can be anything inoffensive)                                             11 non-null object
Location                                                                           11 non-null object
Vehicle manufacture date (double click empty cell)                                 10 non-null datetime64[ns]
Date of range reading
(double click empty cell)                                    11 non-null datetime64[ns]
Model                                                                              11 non-null object
Mileage in miles
(type just digits, no comma)                                      11 non-null float64
Mileage per day                                                                    10 non-null float64
Typical Range at 100% charge
in miles                                              11 non-null float64
Range mode on/off at time of reading?                                              11 non-null object
Typical range after correction if range mode was off                               11 non-null float64
Did you have a battery replacement?                                                11 non-null object
What happened to typical range after replacement?                                  0 non-null float64
At what miles did you replace battery?                                             0 non-null float64
Mileage in mi after correction if battery was replaced                             11 non-null float64
Battery age (days) after correction if battery was replaced                        10 non-null float64
Lifetime average energy consumption at the time of reading Wh/mi                   10 non-null float64
Typical range of this model when new                                               11 non-null float64
Remaining original range                                                           11 non-null float64
Remaining usable capacity until typical range shows zero                           11 non-null float64
Unanswered questions                                                               11 non-null float64
Frequency of supercharging                                                         9 non-null object
Frequency of 100% charge                                                           9 non-null object
Frequency of almost empty (5mi or less)                                            9 non-null object
Daily charge level                                                                 9 non-null float64
Daily charge power in kW                                                           2 non-null float64
What was 100% typical range when the car was new?                                  4 non-null float64
Range mode on/off at time of reading previous column?                              2 non-null object
Typical range at the beginning of the trip                                         0 non-null float64
Typical range at the end of the trip                                               0 non-null float64
kWh consumption for this trip
(comma or dot is fine)                               0 non-null float64
Range mode on/off when you read these trip numbers?                                0 non-null float64
Comments (tire or wheel information is not important)                              3 non-null object
Typical range consumption for trip                                                 0 non-null float64
Typical range after correction if range mode was off.1                             0 non-null float64
Remaining usable capacity until typical range shows zero according to trip data    0 non-null float64
Remaining original capacity                                                        0 non-null float64
trip based battery capacity calculation explained                                  0 non-null float64
100% range when the car was new after range mode adjustment                        4 non-null float64
Vehicle age (days)                                                                 10 non-null float64
Cycles                                                                             10 non-null float64
Mileage in km                                                                      11 non-null float64
wh/mi to wh/km                                                                     10 non-null float64
Unnamed: 43                                                                        11 non-null float64
Average capacity of all cars at this mileage according to chart trendline          11 non-null float64
Your capacity minus chart trendline at this mileage                                11 non-null float64
Dynamic data (copy from here)                                                      11 non-null object
Static data (paste values here)                                                    11 non-null object
Mixed data                                                                         11 non-null object
Data changed or new data?                                                          0 non-null float64
Display changes                                                                    0 non-null float64
Dynamic data changes for selected entry                                            0 non-null float64
Static data changes for selected entry                                             0 non-null float64
Blank column for arrayformula in "Charts Data"                                     0 non-null float64
dtypes: datetime64[ns](2), float64(38), int64(1), object(13)
memory usage: 16.1+ KB

In [35]:
uk = uk.dropna(subset=['Location'])
uk.tail()

,ID,Username (can be anything inoffensive),Location,Vehicle manufacture date (double click empty cell),Date of range reading (double click empty cell),Model,"Mileage in miles (type just digits, no comma)",Mileage per day,Typical Range at 100% charge in miles,Range mode on/off at time of reading?,...,Average capacity of all cars at this mileage according to chart trendline,Your capacity minus chart trendline at this mileage,Dynamic data (copy from here),Static data (paste values here),Mixed data,Data changed or new data?,Display changes,Dynamic data changes for selected entry,Static data changes for selected entry,"Blank column for arrayformula in ""Charts Data"""
6,7,Justin,UK,2016-01-06,2017-04-25,Model S 85D,49129.0,103.2,266.0,Off,...,0.948788,0.060112,Justin|UK|06-Jan-2016|25-Apr-2017|Model S 85D|...,Justin|UK|06-Jan-2016|25-Apr-2017|Model S 85D|...,Justin|UK|06-Jan-2016|25-Apr-2017|Model S 85D|...,NaN,NaN,NaN,NaN,NaN
7,8,Patrick,UK,2014-12-30,2017-04-17,Model S 85,49900.0,59.4,239.0,On,...,0.948538,0.015162,Patrick|UK|30-Dec-2014|17-Apr-2017|Model S 85|...,Patrick|UK|30-Dec-2014|17-Apr-2017|Model S 85|...,Patrick|UK|30-Dec-2014|17-Apr-2017|Model S 85|...,NaN,NaN,NaN,NaN,NaN
8,9,Gary,UK,2017-03-17,2017-04-22,Model S 60D,2271.0,61.4,205.0,Off,...,0.993143,0.009757,Gary|UK|17-Mar-2017|22-Apr-2017|Model S 60D|22...,Gary|UK|17-Mar-2017|22-Apr-2017|Model S 60D|22...,Gary|UK|17-Mar-2017|22-Apr-2017|Model S 60D|22...,NaN,NaN,NaN,NaN,NaN
9,10,John,UK,NaT,2017-08-18,Model S 75D,3000.0,NaN,238.7,On,...,0.991161,-0.000661,John|UK|30-Dec-1899|18-Aug-2017|Model S 75D|30...,John|UK|30-Dec-1899|18-Aug-2017|Model S 75D|30...,John|UK|30-Dec-1899|18-Aug-2017|Model S 75D|30...,NaN,NaN,NaN,NaN,NaN
10,11,DH12345,UK,2015-03-01,2017-10-04,Model S 85,58633.0,61.8,241.0,On,...,0.945878,0.025922,DH12345|UK|01-Mar-2015|04-Oct-2017|Model S 85|...,DH12345|UK|01-Mar-2015|04-Oct-2017|Model S 85|...,DH12345|UK|01-Mar-2015|04-Oct-2017|Model S 85|...,NaN,NaN,NaN,NaN,NaN

In [44]:
print(len(asia_pacific_europe.index)+len(usa.index)+len(canada.index)+len(uk.index))

1151