<h2>Data Wrangling</h2>

<h3>Import packages and create a data frame from Excel file</h3>

In [1]:
import pandas as pd
import numpy as np
tesla_xls = pd.ExcelFile('MaxRange Tesla Battery Survey.xlsx')
tesla_xls.sheet_names

[u'Asia Pacific & Europe (excl UK)',
 u'Canada',
 u'USA',
 u'UK',
 u'Range Units',
 u'Feedback',
 u'Charts',
 u'Stats',
 u'Charts Data',
 u'Administrative',
 u'Editor Comments',
 u'Stats Data',
 u'Temperature effect',
 u'Column names compared']

In [2]:
asia_pacific_europe = tesla_xls.parse('Asia Pacific & Europe (excl UK)',skiprows=2)
asia_pacific_europe.head(10)

,ID,Username (can be anything inoffensive),Location,Vehicle manufacture date (double click empty cell),Date of range reading (double click empty cell),Model,Mileage in km,Mileage per day,Typical Range at 100% charge in km,Range mode on/off at time of reading?,...,Average capacity of all cars at this mileage according to chart trendline,Your capacity minus chart trendline at this mileage,Dynamic data (copy from here),Static data (paste values here),Mixed data,Data changed or new data?,Display changes,Dynamic data changes for selected entry,Static data changes for selected entry,"Blank column for arrayformula in ""Charts Data"""
0,1,bpsmits,Asia Pacific & Europe (excl UK),2013-11-20,2014-09-18,Model S 85,33366.0,110.1,393.0,On,...,0.963263,0.021737,bpsmits|Asia Pacific & Europe (excl UK)|20-Nov...,bpsmits|Asia Pacific & Europe (excl UK)|20-Nov...,bpsmits|Asia Pacific & Europe (excl UK)|20-Nov...,NaN,NaN,NaN,NaN,NaN
1,2,Hans Noordsij,Asia Pacific & Europe (excl UK),2014-03-29,2014-09-18,Model S 85,32000.0,183.9,392.0,On,...,0.964025,0.018475,Hans Noordsij|Asia Pacific & Europe (excl UK)|...,Hans Noordsij|Asia Pacific & Europe (excl UK)|...,Hans Noordsij|Asia Pacific & Europe (excl UK)|...,NaN,NaN,NaN,NaN,NaN
2,3,Janc,Asia Pacific & Europe (excl UK),2014-06-24,2014-09-18,Model S 85,7100.0,81.6,391.0,On,...,0.987574,-0.007674,Janc|Asia Pacific & Europe (excl UK)|24-Jun-20...,Janc|Asia Pacific & Europe (excl UK)|24-Jun-20...,Janc|Asia Pacific & Europe (excl UK)|24-Jun-20...,NaN,NaN,NaN,NaN,NaN
3,4,Merijn,Asia Pacific & Europe (excl UK),2013-11-18,2014-09-18,Model S 85,35000.0,114.8,381.0,Off,...,0.962396,0.004604,Merijn|Asia Pacific & Europe (excl UK)|18-Nov-...,Merijn|Asia Pacific & Europe (excl UK)|18-Nov-...,Merijn|Asia Pacific & Europe (excl UK)|18-Nov-...,NaN,NaN,NaN,NaN,NaN
4,5,RCH1708,Asia Pacific & Europe (excl UK),2013-11-21,2014-09-18,Unspecified 85 kWh,27000.0,89.4,381.0,Unknown,...,0.967144,-0.005044,RCH1708|Asia Pacific & Europe (excl UK)|21-Nov...,RCH1708|Asia Pacific & Europe (excl UK)|21-Nov...,RCH1708|Asia Pacific & Europe (excl UK)|21-Nov...,NaN,NaN,NaN,NaN,NaN
5,6,S-19910,Asia Pacific & Europe (excl UK),2013-11-26,2014-09-18,Model S P85,47352.0,159.4,377.0,Off,...,0.957096,-0.000296,S-19910|Asia Pacific & Europe (excl UK)|26-Nov...,S-19910|Asia Pacific & Europe (excl UK)|26-Nov...,S-19910|Asia Pacific & Europe (excl UK)|26-Nov...,NaN,NaN,NaN,NaN,NaN
6,7,Go4IT,Asia Pacific & Europe (excl UK),2013-09-10,2014-09-19,Model S P85,67000.0,178.7,385.0,On,...,0.951451,0.013449,Go4IT|Asia Pacific & Europe (excl UK)|10-Sep-2...,Go4IT|Asia Pacific & Europe (excl UK)|10-Sep-2...,Go4IT|Asia Pacific & Europe (excl UK)|10-Sep-2...,NaN,NaN,NaN,NaN,NaN
7,8,pvh,Asia Pacific & Europe (excl UK),2014-03-13,2014-09-19,Model S P85+,14977.0,78.4,395.0,Unknown,...,0.977515,0.022485,pvh|Asia Pacific & Europe (excl UK)|13-Mar-201...,pvh|Asia Pacific & Europe (excl UK)|13-Mar-201...,pvh|Asia Pacific & Europe (excl UK)|13-Mar-201...,NaN,NaN,NaN,NaN,NaN
8,9,pvandamcom,Asia Pacific & Europe (excl UK),2014-08-16,2014-09-20,Model S P85,3434.0,95.4,394.0,Unknown,...,0.993517,0.003883,pvandamcom|Asia Pacific & Europe (excl UK)|16-...,pvandamcom|Asia Pacific & Europe (excl UK)|16-...,pvandamcom|Asia Pacific & Europe (excl UK)|16-...,NaN,NaN,NaN,NaN,NaN
9,10,Rprp,Asia Pacific & Europe (excl UK),2013-12-31,2014-09-21,Model S P85,46000.0,173.6,381.0,Unknown,...,0.957588,0.006912,Rprp|Asia Pacific & Europe (excl UK)|31-Dec-20...,Rprp|Asia Pacific & Europe (excl UK)|31-Dec-20...,Rprp|Asia Pacific & Europe (excl UK)|31-Dec-20...,NaN,NaN,NaN,NaN,NaN

In [3]:
asia_pacific_europe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 952 entries, 0 to 951
Data columns (total 54 columns):
ID                                                                                 952 non-null int64
Username (can be anything inoffensive)                                             922 non-null object
Location                                                                           922 non-null object
Vehicle manufacture date (double click empty cell)                                 919 non-null datetime64[ns]
Date of range reading
(double click empty cell)                                    922 non-null datetime64[ns]
Model                                                                              922 non-null object
Mileage in km                                                                      922 non-null float64
Mileage per day                                                                    919 non-null float64
Typical Range at 100% charge
in km                                                 922 non-null float64
Range mode on/off at time of reading?                                              922 non-null object
Typical range after correction if range mode was off                               922 non-null float64
Did you have a battery replacement?                                                922 non-null object
What happened to typical range after replacement?                                  58 non-null object
At what km did you replace battery?                                                58 non-null float64
Mileage in km after correction if battery was replaced                             922 non-null float64
Battery age (days) after correction if battery was replaced                        919 non-null float64
Lifetime average energy consumption at the time of reading Wh/km                   913 non-null float64
Typical range of this model when new                                               922 non-null float64
Remaining original range                                                           922 non-null float64
Remaining usable capacity until typical range shows zero                           922 non-null float64
Unanswered questions                                                               922 non-null float64
Frequency of supercharging                                                         841 non-null object
Frequency of 100% charge                                                           837 non-null object
Frequency of almost empty (8km or less)                                            838 non-null object
Daily charge level                                                                 684 non-null float64
Daily charge power in kW                                                           586 non-null object
What was 100% typical range when the car was new?                                  418 non-null float64
Range mode on/off at time of reading previous column?                              428 non-null object
Typical range at the beginning of the trip                                         81 non-null float64
Typical range at the end of the trip                                               75 non-null float64
kWh consumption for this trip
(comma or dot is fine)                               72 non-null object
Range mode on/off when you read these trip numbers?                                75 non-null object
Comments (tire or wheel information is not important)                              313 non-null object
Typical range consumption for trip                                                 84 non-null object
Typical range after correction if range mode was off.1                             70 non-null float64
Remaining usable capacity until typical range shows zero according to trip data    70 non-null float64
Remaining original capacity                                                        70 non-null float64
trip based battery capacity calculation explained                                  70 non-null object
100% range when the car was new after range mode adjustment                        418 non-null float64
Vehicle age (days)                                                                 919 non-null float64
Cycles                                                                             913 non-null float64
Mileage in km.1                                                                    922 non-null float64
wh/km                                                                              913 non-null float64
Unnamed: 43                                                                        0 non-null float64
Average capacity of all cars at this mileage according to chart trendline          922 non-null float64
Your capacity minus chart trendline at this mileage                                922 non-null float64
Dynamic data (copy from here)                                                      922 non-null object
Static data (paste values here)                                                    922 non-null object
Mixed data                                                                         922 non-null object
Data changed or new data?                                                          0 non-null float64
Display changes                                                                    0 non-null float64
Dynamic data changes for selected entry                                            0 non-null float64
Static data changes for selected entry                                             0 non-null float64
Blank column for arrayformula in "Charts Data"                                     0 non-null float64
dtypes: datetime64[ns](2), float64(32), int64(1), object(19)
memory usage: 401.7+ KB

In [4]:
asia_pacific_europe.isnull().sum()

ID                                                                                   0
Username (can be anything inoffensive)                                              30
Location                                                                            30
Vehicle manufacture date (double click empty cell)                                  33
Date of range reading\n(double click empty cell)                                    30
Model                                                                               30
Mileage in km                                                                       30
Mileage per day                                                                     33
Typical Range at 100% charge\nin km                                                 30
Range mode on/off at time of reading?                                               30
Typical range after correction if range mode was off                                30
Did you have a battery replacement?                                                 30
What happened to typical range after replacement?                                  894
At what km did you replace battery?                                                894
Mileage in km after correction if battery was replaced                              30
Battery age (days) after correction if battery was replaced                         33
Lifetime average energy consumption at the time of reading Wh/km                    39
Typical range of this model when new                                                30
Remaining original range                                                            30
Remaining usable capacity until typical range shows zero                            30
Unanswered questions                                                                30
Frequency of supercharging                                                         111
Frequency of 100% charge                                                           115
Frequency of almost empty (8km or less)                                            114
Daily charge level                                                                 268
Daily charge power in kW                                                           366
What was 100% typical range when the car was new?                                  534
Range mode on/off at time of reading previous column?                              524
Typical range at the beginning of the trip                                         871
Typical range at the end of the trip                                               877
kWh consumption for this trip\n(comma or dot is fine)                              880
Range mode on/off when you read these trip numbers?                                877
Comments (tire or wheel information is not important)                              639
Typical range consumption for trip                                                 868
Typical range after correction if range mode was off.1                             882
Remaining usable capacity until typical range shows zero according to trip data    882
Remaining original capacity                                                        882
trip based battery capacity calculation explained                                  882
100% range when the car was new after range mode adjustment                        534
Vehicle age (days)                                                                  33
Cycles                                                                              39
Mileage in km.1                                                                     30
wh/km                                                                               39
Unnamed: 43                                                                        952
Average capacity of all cars at this mileage according to chart trendline           30
Your capacity minus chart trendline at this mileage                                 30
Dynamic data (copy from here)                                                       30
Static data (paste values here)                                                     30
Mixed data                                                                          30
Data changed or new data?                                                          952
Display changes                                                                    952
Dynamic data changes for selected entry                                            952
Static data changes for selected entry                                             952
Blank column for arrayformula in "Charts Data"                                     952
dtype: int64

In [5]:
asia_pacific_europe = asia_pacific_europe.dropna(subset=['Location'])
asia_pacific_europe.tail()

,ID,Username (can be anything inoffensive),Location,Vehicle manufacture date (double click empty cell),Date of range reading (double click empty cell),Model,Mileage in km,Mileage per day,Typical Range at 100% charge in km,Range mode on/off at time of reading?,...,Average capacity of all cars at this mileage according to chart trendline,Your capacity minus chart trendline at this mileage,Dynamic data (copy from here),Static data (paste values here),Mixed data,Data changed or new data?,Display changes,Dynamic data changes for selected entry,Static data changes for selected entry,"Blank column for arrayformula in ""Charts Data"""
917,918,apollo 46,Asia Pacific & Europe (excl UK),2016-03-08,2017-11-27,Model S 90D,51364.0,81.5,431.0,Off,...,0.955735,0.009865,apollo 46|Asia Pacific & Europe (excl UK)|08-M...,apollo 46|Asia Pacific & Europe (excl UK)|08-M...,apollo 46|Asia Pacific & Europe (excl UK)|08-M...,NaN,NaN,NaN,NaN,NaN
918,919,Lucas,Asia Pacific & Europe (excl UK),2016-09-28,2017-12-01,Model X 90D,56417.0,131.2,370.0,On,...,0.954197,-0.040597,Lucas|Asia Pacific & Europe (excl UK)|28-Sep-2...,Lucas|Asia Pacific & Europe (excl UK)|28-Sep-2...,Lucas|Asia Pacific & Europe (excl UK)|28-Sep-2...,NaN,NaN,NaN,NaN,NaN
919,920,shoot72,Asia Pacific & Europe (excl UK),2015-06-05,2017-12-01,Model S 85D,109111.0,119.8,410.0,Off,...,0.943414,0.022186,shoot72|Asia Pacific & Europe (excl UK)|05-Jun...,shoot72|Asia Pacific & Europe (excl UK)|05-Jun...,shoot72|Asia Pacific & Europe (excl UK)|05-Jun...,NaN,NaN,NaN,NaN,NaN
920,921,SchwartzMobile,Asia Pacific & Europe (excl UK),2015-11-01,2017-12-02,Model S 85D,115665.0,151.6,412.0,Off,...,0.942328,0.027972,SchwartzMobile|Asia Pacific & Europe (excl UK)...,SchwartzMobile|Asia Pacific & Europe (excl UK)...,SchwartzMobile|Asia Pacific & Europe (excl UK)...,NaN,NaN,NaN,NaN,NaN
921,922,jvds,Asia Pacific & Europe (excl UK),2015-09-19,2017-12-03,Model S 70D,47832.0,59.3,350.0,Off,...,0.956926,0.014074,jvds|Asia Pacific & Europe (excl UK)|19-Sep-20...,jvds|Asia Pacific & Europe (excl UK)|19-Sep-20...,jvds|Asia Pacific & Europe (excl UK)|19-Sep-20...,NaN,NaN,NaN,NaN,NaN

In [6]:
canada = tesla_xls.parse('Canada',skiprows=2)
canada.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 54 columns):
ID                                                                                 72 non-null int64
Username (can be anything inoffensive)                                             41 non-null object
Location                                                                           41 non-null object
Vehicle manufacture date (double click empty cell)                                 41 non-null datetime64[ns]
Date of range reading
(double click empty cell)                                    41 non-null datetime64[ns]
Model                                                                              41 non-null object
Mileage in km                                                                      41 non-null float64
Mileage per day                                                                    41 non-null float64
EPA rated range at 100% charge
in km                                               41 non-null float64
Range mode on/off at time of reading?                                              41 non-null object
EPA range after correction if range mode was off                                   41 non-null float64
Did you have a battery replacement?                                                41 non-null object
What happened to EPA range after replacement?                                      1 non-null object
At what km did you replace battery?                                                1 non-null float64
Mileage in km after correction if battery was replaced                             41 non-null float64
Battery age (days) after correction if battery was replaced                        41 non-null float64
Lifetime average energy consumption at the time of reading Wh/km                   41 non-null float64
Rated range of this model when new                                                 41 non-null float64
Remaining original range                                                           41 non-null float64
Remaining usable capacity until typical range shows zero                           41 non-null float64
Unanswered questions                                                               41 non-null float64
Frequency of supercharging                                                         41 non-null object
Frequency of 100% charge                                                           40 non-null object
Frequency of almost empty (8km or less)                                            40 non-null object
Daily charge level                                                                 40 non-null float64
Daily charge power in kW                                                           24 non-null float64
What was 100% rated range when the car was new?                                    22 non-null float64
Range mode on/off at time of reading previous column?                              27 non-null object
Rated range at the beginning of the trip                                           4 non-null float64
Rated range at the end of the trip                                                 4 non-null float64
kWh consumption for this trip
(comma or dot is fine)                               2 non-null float64
Range mode on/off when you read these trip numbers?                                4 non-null object
Comments (tire or wheel information is not important)                              8 non-null object
Typical range consumption for trip                                                 4 non-null object
Typical range after correction if range mode was off                               2 non-null float64
Remaining usable capacity until typical range shows zero according to trip data    2 non-null float64
Remaining original capacity                                                        2 non-null float64
trip based battery capacity calculation explained                                  2 non-null object
100% range when the car was new after range mode adjustment                        22 non-null float64
Vehicle age (days)                                                                 41 non-null float64
Cycles                                                                             41 non-null float64
Mileage in km.1                                                                    41 non-null float64
wh/km                                                                              41 non-null float64
Unnamed: 43                                                                        41 non-null float64
Average capacity of all cars at this mileage according to chart trendline          41 non-null float64
Your capacity minus chart trendline at this mileage                                41 non-null float64
Dynamic data (copy from here)                                                      41 non-null object
Static data (paste values here)                                                    41 non-null object
Mixed data                                                                         41 non-null object
Data changed or new data?                                                          0 non-null float64
Display changes                                                                    0 non-null float64
Dynamic data changes for selected entry                                            0 non-null float64
Static data changes for selected entry                                             0 non-null float64
Blank column for arrayformula in "Charts Data"                                     0 non-null float64
dtypes: datetime64[ns](2), float64(34), int64(1), object(17)
memory usage: 30.4+ KB

In [7]:
canada.tail()

,ID,Username (can be anything inoffensive),Location,Vehicle manufacture date (double click empty cell),Date of range reading (double click empty cell),Model,Mileage in km,Mileage per day,EPA rated range at 100% charge in km,Range mode on/off at time of reading?,...,Average capacity of all cars at this mileage according to chart trendline,Your capacity minus chart trendline at this mileage,Dynamic data (copy from here),Static data (paste values here),Mixed data,Data changed or new data?,Display changes,Dynamic data changes for selected entry,Static data changes for selected entry,"Blank column for arrayformula in ""Charts Data"""
67,68,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,69,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,70,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,71,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,72,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
canada = canada.dropna(subset=['Location'])
canada.tail()

,ID,Username (can be anything inoffensive),Location,Vehicle manufacture date (double click empty cell),Date of range reading (double click empty cell),Model,Mileage in km,Mileage per day,EPA rated range at 100% charge in km,Range mode on/off at time of reading?,...,Average capacity of all cars at this mileage according to chart trendline,Your capacity minus chart trendline at this mileage,Dynamic data (copy from here),Static data (paste values here),Mixed data,Data changed or new data?,Display changes,Dynamic data changes for selected entry,Static data changes for selected entry,"Blank column for arrayformula in ""Charts Data"""
36,37,AC1K,Canada,2013-07-20,2017-08-23,Model S P85,60113.0,40.2,418.0,On,...,0.953175,0.012225,AC1K|Canada|20-Jul-2013|23-Aug-2017|Model S P8...,AC1K|Canada|20-Jul-2013|23-Aug-2017|Model S P8...,AC1K|Canada|20-Jul-2013|23-Aug-2017|Model S P8...,NaN,NaN,NaN,NaN,NaN
37,38,iKhalid,Canada,2014-02-15,2017-09-06,Model S 60,92242.0,71.0,298.0,Off,...,0.946332,-0.053532,iKhalid|Canada|15-Feb-2014|06-Sep-2017|Model S...,iKhalid|Canada|15-Feb-2014|06-Sep-2017|Model S...,iKhalid|Canada|15-Feb-2014|06-Sep-2017|Model S...,NaN,NaN,NaN,NaN,NaN
38,39,CAHL,Canada,2017-02-15,2017-10-29,Model S 90D,5704.0,22.2,469.0,Off,...,0.989729,0.010171,CAHL|Canada|15-Feb-2017|29-Oct-2017|Model S 90...,CAHL|Canada|15-Feb-2017|29-Oct-2017|Model S 90...,CAHL|Canada|15-Feb-2017|29-Oct-2017|Model S 90...,NaN,NaN,NaN,NaN,NaN
39,40,CAHL,Canada,2017-02-15,2017-09-16,Model S 90D,2647.0,12.4,472.0,Off,...,0.994919,0.011381,CAHL|Canada|15-Feb-2017|16-Sep-2017|Model S 90...,CAHL|Canada|15-Feb-2017|16-Sep-2017|Model S 90...,CAHL|Canada|15-Feb-2017|16-Sep-2017|Model S 90...,NaN,NaN,NaN,NaN,NaN
40,41,Dark Matter,Canada,2014-12-11,2017-11-18,Model S 90,53900.0,50.2,452.0,On,...,0.999797,0.002403,Dark Matter|Canada|11-Dec-2014|18-Nov-2017|Mod...,Dark Matter|Canada|11-Dec-2014|18-Nov-2017|Mod...,Dark Matter|Canada|11-Dec-2014|18-Nov-2017|Mod...,NaN,NaN,NaN,NaN,NaN

In [9]:
usa = tesla_xls.parse('USA',skiprows=2)
usa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 54 columns):
ID                                                                                 213 non-null int64
Username (can be anything inoffensive)                                             182 non-null object
Location                                                                           182 non-null object
Vehicle manufacture date (double click empty cell)                                 182 non-null datetime64[ns]
Date of range reading
 (double click empty cell)                                   182 non-null datetime64[ns]
Model                                                                              182 non-null object
Mileage in miles
(type just digits, no comma)                                      182 non-null float64
Mileage per day                                                                    182 non-null float64
EPA rated range at 100% charge
in miles                                            182 non-null float64
Range mode on/off at time of reading?                                              182 non-null object
EPA range after correction if range mode was off                                   182 non-null float64
Did you have a battery replacement?                                                182 non-null object
What happened to EPA range after replacement?                                      7 non-null object
At what miles did you replace battery?                                             6 non-null float64
Mileage in mi after correction if battery was replaced                             182 non-null float64
Battery age (days) after correction if battery was replaced                        182 non-null float64
Lifetime average energy consumption at the time of reading Wh/mi                   178 non-null float64
Rated range of this model when new                                                 182 non-null float64
Remaining original range                                                           182 non-null float64
Remaining usable capacity until typical range shows zero                           182 non-null float64
Unanswered questions                                                               182 non-null float64
Frequency of supercharging                                                         169 non-null object
Frequency of 100% charge                                                           170 non-null object
Frequency of almost empty (5mi or less)                                            169 non-null object
Daily charge level                                                                 166 non-null float64
Daily charge power in kW                                                           111 non-null float64
What was 100% rated range when the car was new?                                    126 non-null float64
Range mode on/off at time of reading previous column?                              123 non-null object
Rated range at the beginning of the trip                                           17 non-null float64
Rated range at the end of the trip                                                 16 non-null float64
kWh consumption for this trip
(comma or dot is fine)                               15 non-null float64
Range mode on/off when you read these trip numbers?                                16 non-null object
Comments (tire or wheel information is not important)                              65 non-null object
Typical range consumption for trip                                                 17 non-null object
Typical range after correction if range mode was off                               15 non-null float64
Remaining usable capacity until typical range shows zero according to trip data    15 non-null float64
Remaining original capacity                                                        15 non-null float64
trip based battery capacity calculation explained                                  15 non-null object
100% range when the car was new after range mode adjustment                        126 non-null float64
Vehicle age (days)                                                                 182 non-null float64
Cycles                                                                             178 non-null float64
Mileage in km                                                                      182 non-null float64
wh/mi to wh/km                                                                     178 non-null float64
Unnamed: 43                                                                        182 non-null float64
Average capacity of all cars at this mileage according to chart trendline          182 non-null float64
Your capacity minus chart trendline at this mileage                                182 non-null float64
Dynamic data (copy from here)                                                      182 non-null object
Static data (paste values here)                                                    182 non-null object
Mixed data                                                                         182 non-null object
Data changed or new data?                                                          0 non-null float64
Display changes                                                                    0 non-null float64
Dynamic data changes for selected entry                                            0 non-null float64
Static data changes for selected entry                                             0 non-null float64
Blank column for arrayformula in "Charts Data"                                     0 non-null float64
dtypes: datetime64[ns](2), float64(34), int64(1), object(17)
memory usage: 89.9+ KB

In [10]:
usa = usa.dropna(subset=['Location'])
usa.tail()

,ID,Username (can be anything inoffensive),Location,Vehicle manufacture date (double click empty cell),Date of range reading (double click empty cell),Model,"Mileage in miles (type just digits, no comma)",Mileage per day,EPA rated range at 100% charge in miles,Range mode on/off at time of reading?,...,Average capacity of all cars at this mileage according to chart trendline,Your capacity minus chart trendline at this mileage,Dynamic data (copy from here),Static data (paste values here),Mixed data,Data changed or new data?,Display changes,Dynamic data changes for selected entry,Static data changes for selected entry,"Blank column for arrayformula in ""Charts Data"""
177,178,KmanAuto,USA,2016-01-15,2017-10-08,Model S 90D,46000.0,72.7,272.0,On,...,0.949876,-0.027876,KmanAuto|USA|15-Jan-2016|08-Oct-2017|Model S 9...,KmanAuto|USA|15-Jan-2016|08-Oct-2017|Model S 9...,KmanAuto|USA|15-Jan-2016|08-Oct-2017|Model S 9...,NaN,NaN,NaN,NaN,NaN
178,179,namu,usa,2017-01-01,2017-10-30,Model S 75D,18827.0,62.1,256.0,On,...,0.965025,0.012075,namu|usa|01-Jan-2017|30-Oct-2017|Model S 75D|1...,namu|usa|01-Jan-2017|30-Oct-2017|Model S 75D|1...,namu|usa|01-Jan-2017|30-Oct-2017|Model S 75D|1...,NaN,NaN,NaN,NaN,NaN
179,180,francop,USA,2017-04-14,2017-11-01,Model S 75D,5451.0,27.0,256.0,Off,...,0.985154,0.004346,francop|USA|14-Apr-2017|01-Nov-2017|Model S 75...,francop|USA|14-Apr-2017|01-Nov-2017|Model S 75...,francop|USA|14-Apr-2017|01-Nov-2017|Model S 75...,NaN,NaN,NaN,NaN,NaN
180,181,Yurand,USA,2013-07-17,2016-10-01,Model S 60,77500.0,66.1,191.0,Off,...,0.940852,-0.019852,Yurand|USA|17-Jul-2013|01-Oct-2016|Model S 60|...,Yurand|USA|17-Jul-2013|01-Oct-2016|Model S 60|...,Yurand|USA|17-Jul-2013|01-Oct-2016|Model S 60|...,NaN,NaN,NaN,NaN,NaN
181,182,Benjamin Brooks,USA,2013-02-05,2017-11-03,Model S 85,60373.0,34.8,252.0,On,...,0.945457,-0.008657,Benjamin Brooks|USA|05-Feb-2013|03-Nov-2017|Mo...,Benjamin Brooks|USA|05-Feb-2013|03-Nov-2017|Mo...,Benjamin Brooks|USA|05-Feb-2013|03-Nov-2017|Mo...,NaN,NaN,NaN,NaN,NaN

In [11]:
uk = tesla_xls.parse('UK',skiprows=2)
uk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 54 columns):
ID                                                                                 38 non-null int64
Username (can be anything inoffensive)                                             11 non-null object
Location                                                                           11 non-null object
Vehicle manufacture date (double click empty cell)                                 10 non-null datetime64[ns]
Date of range reading
(double click empty cell)                                    11 non-null datetime64[ns]
Model                                                                              11 non-null object
Mileage in miles
(type just digits, no comma)                                      11 non-null float64
Mileage per day                                                                    10 non-null float64
Typical Range at 100% charge
in miles                                              11 non-null float64
Range mode on/off at time of reading?                                              11 non-null object
Typical range after correction if range mode was off                               11 non-null float64
Did you have a battery replacement?                                                11 non-null object
What happened to typical range after replacement?                                  0 non-null float64
At what miles did you replace battery?                                             0 non-null float64
Mileage in mi after correction if battery was replaced                             11 non-null float64
Battery age (days) after correction if battery was replaced                        10 non-null float64
Lifetime average energy consumption at the time of reading Wh/mi                   10 non-null float64
Typical range of this model when new                                               11 non-null float64
Remaining original range                                                           11 non-null float64
Remaining usable capacity until typical range shows zero                           11 non-null float64
Unanswered questions                                                               11 non-null float64
Frequency of supercharging                                                         9 non-null object
Frequency of 100% charge                                                           9 non-null object
Frequency of almost empty (5mi or less)                                            9 non-null object
Daily charge level                                                                 9 non-null float64
Daily charge power in kW                                                           2 non-null float64
What was 100% typical range when the car was new?                                  4 non-null float64
Range mode on/off at time of reading previous column?                              2 non-null object
Typical range at the beginning of the trip                                         0 non-null float64
Typical range at the end of the trip                                               0 non-null float64
kWh consumption for this trip
(comma or dot is fine)                               0 non-null float64
Range mode on/off when you read these trip numbers?                                0 non-null float64
Comments (tire or wheel information is not important)                              3 non-null object
Typical range consumption for trip                                                 0 non-null float64
Typical range after correction if range mode was off.1                             0 non-null float64
Remaining usable capacity until typical range shows zero according to trip data    0 non-null float64
Remaining original capacity                                                        0 non-null float64
trip based battery capacity calculation explained                                  0 non-null float64
100% range when the car was new after range mode adjustment                        4 non-null float64
Vehicle age (days)                                                                 10 non-null float64
Cycles                                                                             10 non-null float64
Mileage in km                                                                      11 non-null float64
wh/mi to wh/km                                                                     10 non-null float64
Unnamed: 43                                                                        11 non-null float64
Average capacity of all cars at this mileage according to chart trendline          11 non-null float64
Your capacity minus chart trendline at this mileage                                11 non-null float64
Dynamic data (copy from here)                                                      11 non-null object
Static data (paste values here)                                                    11 non-null object
Mixed data                                                                         11 non-null object
Data changed or new data?                                                          0 non-null float64
Display changes                                                                    0 non-null float64
Dynamic data changes for selected entry                                            0 non-null float64
Static data changes for selected entry                                             0 non-null float64
Blank column for arrayformula in "Charts Data"                                     0 non-null float64
dtypes: datetime64[ns](2), float64(38), int64(1), object(13)
memory usage: 16.1+ KB

In [12]:
uk = uk.dropna(subset=['Location'])
uk.tail()

,ID,Username (can be anything inoffensive),Location,Vehicle manufacture date (double click empty cell),Date of range reading (double click empty cell),Model,"Mileage in miles (type just digits, no comma)",Mileage per day,Typical Range at 100% charge in miles,Range mode on/off at time of reading?,...,Average capacity of all cars at this mileage according to chart trendline,Your capacity minus chart trendline at this mileage,Dynamic data (copy from here),Static data (paste values here),Mixed data,Data changed or new data?,Display changes,Dynamic data changes for selected entry,Static data changes for selected entry,"Blank column for arrayformula in ""Charts Data"""
6,7,Justin,UK,2016-01-06,2017-04-25,Model S 85D,49129.0,103.2,266.0,Off,...,0.948833,0.060067,Justin|UK|06-Jan-2016|25-Apr-2017|Model S 85D|...,Justin|UK|06-Jan-2016|25-Apr-2017|Model S 85D|...,Justin|UK|06-Jan-2016|25-Apr-2017|Model S 85D|...,NaN,NaN,NaN,NaN,NaN
7,8,Patrick,UK,2014-12-30,2017-04-17,Model S 85,49900.0,59.4,239.0,On,...,0.948585,0.015115,Patrick|UK|30-Dec-2014|17-Apr-2017|Model S 85|...,Patrick|UK|30-Dec-2014|17-Apr-2017|Model S 85|...,Patrick|UK|30-Dec-2014|17-Apr-2017|Model S 85|...,NaN,NaN,NaN,NaN,NaN
8,9,Gary,UK,2017-03-17,2017-04-22,Model S 60D,2271.0,61.4,205.0,Off,...,0.993132,0.009768,Gary|UK|17-Mar-2017|22-Apr-2017|Model S 60D|22...,Gary|UK|17-Mar-2017|22-Apr-2017|Model S 60D|22...,Gary|UK|17-Mar-2017|22-Apr-2017|Model S 60D|22...,NaN,NaN,NaN,NaN,NaN
9,10,John,UK,NaT,2017-08-18,Model S 75D,3000.0,NaN,238.7,On,...,0.991147,-0.000647,John|UK|30-Dec-1899|18-Aug-2017|Model S 75D|30...,John|UK|30-Dec-1899|18-Aug-2017|Model S 75D|30...,John|UK|30-Dec-1899|18-Aug-2017|Model S 75D|30...,NaN,NaN,NaN,NaN,NaN
10,11,DH12345,UK,2015-03-01,2017-10-04,Model S 85,58633.0,61.8,241.0,On,...,0.945952,0.025848,DH12345|UK|01-Mar-2015|04-Oct-2017|Model S 85|...,DH12345|UK|01-Mar-2015|04-Oct-2017|Model S 85|...,DH12345|UK|01-Mar-2015|04-Oct-2017|Model S 85|...,NaN,NaN,NaN,NaN,NaN

In [13]:
print(len(asia_pacific_europe.index)+len(usa.index)+len(canada.index)+len(uk.index))

1156

The names of the columns are too descriptive and long for analyzing. Therefore, we can rename the columns before merging them together.

In [14]:
#rename the columns
new_column_names = ['id', 'username', 'location', 'manufacture_date', 'range_reading_date', 'model',  'mileage',
                    'mileage_per_day', 'range_at_full', 'range_mode', 'range_after_correction', 'battery_replacement',
                    'change_after_replacement', 'range_at_replacement', 'mileage_after_replacement', 
                    'battery_age', 'lifetime_avg_energy_consumption', 'range_when_new', 'remaining_range','remaining_capacity',
                   'unanswered', 'supercharging_frequency', 'full_charge_frequency', 'empty_charge_frequency', 'daily_charge', 'daily_charge_power',
                   'new_car_charge', 'range_mode_new', 'typical_range_trip_start', 'typical_range_trip_end', 'trip_consumption',
                   'range_mode_trip','comments','typical_range_consumption','typical_range_correction','remaining_usable_capacity',
                   'remaining_original_capacity','trip_based_capacity','range_mode_adjustment','vehicle_age','vehicle_cycles',
                   'mileage_in_km','wh_km','used_for_chart','average_capacity_according_to_chart','deviation_in_capacity', 'dynamic_data',
                   'static_data','mixed_data','book_keeping1', 'book_keeping2', 'book_keeping3', 'book_keeping4', 'book_keeping5']
len(new_column_names)

54

In [15]:
canada.columns = new_column_names
asia_pacific_europe.columns = new_column_names
uk.columns = new_column_names
usa.columns = new_column_names

In [16]:
canada.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41 entries, 0 to 40
Data columns (total 54 columns):
id                                     41 non-null int64
username                               41 non-null object
location                               41 non-null object
manufacture_date                       41 non-null datetime64[ns]
range_reading_date                     41 non-null datetime64[ns]
model                                  41 non-null object
mileage                                41 non-null float64
mileage_per_day                        41 non-null float64
range_at_full                          41 non-null float64
range_mode                             41 non-null object
range_after_correction                 41 non-null float64
battery_replacement                    41 non-null object
change_after_replacement               1 non-null object
range_at_replacement                   1 non-null float64
mileage_after_replacement              41 non-null float64
battery_age                            41 non-null float64
lifetime_avg_energy_consumption        41 non-null float64
range_when_new                         41 non-null float64
remaining_range                        41 non-null float64
remaining_capacity                     41 non-null float64
unanswered                             41 non-null float64
supercharging_frequency                41 non-null object
full_charge_frequency                  40 non-null object
empty_charge_frequency                 40 non-null object
daily_charge                           40 non-null float64
daily_charge_power                     24 non-null float64
new_car_charge                         22 non-null float64
range_mode_new                         27 non-null object
typical_range_trip_start               4 non-null float64
typical_range_trip_end                 4 non-null float64
trip_consumption                       2 non-null float64
range_mode_trip                        4 non-null object
comments                               8 non-null object
typical_range_consumption              4 non-null object
typical_range_correction               2 non-null float64
remaining_usable_capacity              2 non-null float64
remaining_original_capacity            2 non-null float64
trip_based_capacity                    2 non-null object
range_mode_adjustment                  22 non-null float64
vehicle_age                            41 non-null float64
vehicle_cycles                         41 non-null float64
mileage_in_km                          41 non-null float64
wh_km                                  41 non-null float64
used_for_chart                         41 non-null float64
average_capacity_according_to_chart    41 non-null float64
deviation_in_capacity                  41 non-null float64
dynamic_data                           41 non-null object
static_data                            41 non-null object
mixed_data                             41 non-null object
book_keeping1                          0 non-null float64
book_keeping2                          0 non-null float64
book_keeping3                          0 non-null float64
book_keeping4                          0 non-null float64
book_keeping5                          0 non-null float64
dtypes: datetime64[ns](2), float64(34), int64(1), object(17)
memory usage: 17.6+ KB

In [17]:
usa.head()

,id,username,location,manufacture_date,range_reading_date,model,mileage,mileage_per_day,range_at_full,range_mode,...,average_capacity_according_to_chart,deviation_in_capacity,dynamic_data,static_data,mixed_data,book_keeping1,book_keeping2,book_keeping3,book_keeping4,book_keeping5
0,1,Muzzman1,USA,2014-03-22,2014-04-08,Model S 85,2000.0,111.1,271.0,On,...,0.993895,0.013505,Muzzman1|USA|22-Mar-2014|08-Apr-2014|Model S 8...,Muzzman1|USA|22-Mar-2014|08-Apr-2014|Model S 8...,Muzzman1|USA|22-Mar-2014|08-Apr-2014|Model S 8...,NaN,NaN,NaN,NaN,NaN
1,2,Muzzman1,USA,2014-03-22,2015-04-16,Model S 85,21000.0,53.7,256.0,On,...,0.963030,-0.011330,Muzzman1|USA|22-Mar-2014|16-Apr-2015|Model S 8...,Muzzman1|USA|22-Mar-2014|16-Apr-2015|Model S 8...,Muzzman1|USA|22-Mar-2014|16-Apr-2015|Model S 8...,NaN,NaN,NaN,NaN,NaN
2,3,ghurenkamp,USA,2013-06-07,2015-05-11,Model S P85,43715.0,62.1,251.0,Off,...,0.950681,-0.005781,ghurenkamp|USA|07-Jun-2013|11-May-2015|Model S...,ghurenkamp|USA|07-Jun-2013|11-May-2015|Model S...,ghurenkamp|USA|07-Jun-2013|11-May-2015|Model S...,NaN,NaN,NaN,NaN,NaN
3,4,KL,USA,2015-02-28,2015-05-11,Model S 85D,13679.0,187.4,269.0,Off,...,0.970874,0.026926,KL|USA|28-Feb-2015|11-May-2015|Model S 85D|136...,KL|USA|28-Feb-2015|11-May-2015|Model S 85D|136...,KL|USA|28-Feb-2015|11-May-2015|Model S 85D|136...,NaN,NaN,NaN,NaN,NaN
4,5,terrymisu,USA,2015-05-07,2015-05-28,Model S P85D,1061.0,48.2,253.0,On,...,0.996655,-0.008355,terrymisu|USA|07-May-2015|28-May-2015|Model S ...,terrymisu|USA|07-May-2015|28-May-2015|Model S ...,terrymisu|USA|07-May-2015|28-May-2015|Model S ...,NaN,NaN,NaN,NaN,NaN

Now, we can merge the dataframes corresponding to different locations.

In [18]:
#merge the location data frames to obtain one data frame for tesla survey
locations = [asia_pacific_europe, usa, canada, uk]
tesla_survey = pd.concat(locations,ignore_index=True)

#inspect the master data frame for tesla survey
tesla_survey['id'] = tesla_survey.index.values+1

In [19]:
tesla_survey.tail(10)

,id,username,location,manufacture_date,range_reading_date,model,mileage,mileage_per_day,range_at_full,range_mode,...,average_capacity_according_to_chart,deviation_in_capacity,dynamic_data,static_data,mixed_data,book_keeping1,book_keeping2,book_keeping3,book_keeping4,book_keeping5
1146,1147,Simon Mac,UK,2014-05-21,2015-10-23,Model S 60,10500.0,20.2,180.0,On,...,0.975515,0.024485,Simon Mac|UK|21-May-2014|23-Oct-2015|Model S 6...,Simon Mac|UK|21-May-2014|23-Oct-2015|Model S 6...,Simon Mac|UK|21-May-2014|23-Oct-2015|Model S 6...,NaN,NaN,NaN,NaN,NaN
1147,1148,memesweeper,UK,2015-10-12,2016-11-02,Model S 85D,34653.0,89.3,256.0,Off,...,0.954385,0.016515,memesweeper|UK|12-Oct-2015|02-Nov-2016|Model S...,memesweeper|UK|12-Oct-2015|02-Nov-2016|Model S...,memesweeper|UK|12-Oct-2015|02-Nov-2016|Model S...,NaN,NaN,NaN,NaN,NaN
1148,1149,gyroscope,UK,2015-05-14,2016-11-20,Model S 85,45959.0,82.5,231.0,Off,...,0.949890,-0.006690,gyroscope|UK|14-May-2015|20-Nov-2016|Model S 8...,gyroscope|UK|14-May-2015|20-Nov-2016|Model S 8...,gyroscope|UK|14-May-2015|20-Nov-2016|Model S 8...,NaN,NaN,NaN,NaN,NaN
1149,1150,tes,UK,2015-03-02,2016-12-14,Model S 85,37895.0,57.9,238.0,On,...,0.952944,0.006756,tes|UK|02-Mar-2015|14-Dec-2016|Model S 85|3789...,tes|UK|02-Mar-2015|14-Dec-2016|Model S 85|3789...,tes|UK|02-Mar-2015|14-Dec-2016|Model S 85|3789...,NaN,NaN,NaN,NaN,NaN
1150,1151,4dme,UK,2016-06-20,2016-12-24,Model S 85,16800.0,89.4,242.0,Off,...,0.967119,0.020981,4dme|UK|20-Jun-2016|24-Dec-2016|Model S 85|168...,4dme|UK|20-Jun-2016|24-Dec-2016|Model S 85|168...,4dme|UK|20-Jun-2016|24-Dec-2016|Model S 85|168...,NaN,NaN,NaN,NaN,NaN
1151,1152,Justin,UK,2016-01-06,2017-04-25,Model S 85D,49129.0,103.2,266.0,Off,...,0.948833,0.060067,Justin|UK|06-Jan-2016|25-Apr-2017|Model S 85D|...,Justin|UK|06-Jan-2016|25-Apr-2017|Model S 85D|...,Justin|UK|06-Jan-2016|25-Apr-2017|Model S 85D|...,NaN,NaN,NaN,NaN,NaN
1152,1153,Patrick,UK,2014-12-30,2017-04-17,Model S 85,49900.0,59.4,239.0,On,...,0.948585,0.015115,Patrick|UK|30-Dec-2014|17-Apr-2017|Model S 85|...,Patrick|UK|30-Dec-2014|17-Apr-2017|Model S 85|...,Patrick|UK|30-Dec-2014|17-Apr-2017|Model S 85|...,NaN,NaN,NaN,NaN,NaN
1153,1154,Gary,UK,2017-03-17,2017-04-22,Model S 60D,2271.0,61.4,205.0,Off,...,0.993132,0.009768,Gary|UK|17-Mar-2017|22-Apr-2017|Model S 60D|22...,Gary|UK|17-Mar-2017|22-Apr-2017|Model S 60D|22...,Gary|UK|17-Mar-2017|22-Apr-2017|Model S 60D|22...,NaN,NaN,NaN,NaN,NaN
1154,1155,John,UK,NaT,2017-08-18,Model S 75D,3000.0,NaN,238.7,On,...,0.991147,-0.000647,John|UK|30-Dec-1899|18-Aug-2017|Model S 75D|30...,John|UK|30-Dec-1899|18-Aug-2017|Model S 75D|30...,John|UK|30-Dec-1899|18-Aug-2017|Model S 75D|30...,NaN,NaN,NaN,NaN,NaN
1155,1156,DH12345,UK,2015-03-01,2017-10-04,Model S 85,58633.0,61.8,241.0,On,...,0.945952,0.025848,DH12345|UK|01-Mar-2015|04-Oct-2017|Model S 85|...,DH12345|UK|01-Mar-2015|04-Oct-2017|Model S 85|...,DH12345|UK|01-Mar-2015|04-Oct-2017|Model S 85|...,NaN,NaN,NaN,NaN,NaN

Now, we can eliminate the last 5 columns denoted with "book_keeping...". They are used by the owner of the google spreadsheet document to make sure that no "cell vandalism" took place as the document is available for anyone. We do not need this information for analysis as it is evident that no rows were changed.

In [20]:
#remove null book_keeping attributes
columns_to_remove = ['book_keeping1','book_keeping2','book_keeping3', 'book_keeping4', 'book_keeping5']
tesla_survey.drop(columns_to_remove, inplace=True, axis=1)

In [21]:
tesla_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 49 columns):
id                                     1156 non-null int64
username                               1156 non-null object
location                               1156 non-null object
manufacture_date                       1152 non-null datetime64[ns]
range_reading_date                     1156 non-null datetime64[ns]
model                                  1156 non-null object
mileage                                1156 non-null float64
mileage_per_day                        1152 non-null float64
range_at_full                          1156 non-null float64
range_mode                             1156 non-null object
range_after_correction                 1156 non-null float64
battery_replacement                    1156 non-null object
change_after_replacement               66 non-null object
range_at_replacement                   65 non-null float64
mileage_after_replacement              1156 non-null float64
battery_age                            1152 non-null float64
lifetime_avg_energy_consumption        1142 non-null float64
range_when_new                         1156 non-null float64
remaining_range                        1156 non-null float64
remaining_capacity                     1156 non-null float64
unanswered                             1156 non-null float64
supercharging_frequency                1060 non-null object
full_charge_frequency                  1056 non-null object
empty_charge_frequency                 1056 non-null object
daily_charge                           899 non-null float64
daily_charge_power                     723 non-null object
new_car_charge                         570 non-null float64
range_mode_new                         580 non-null object
typical_range_trip_start               102 non-null float64
typical_range_trip_end                 95 non-null float64
trip_consumption                       89 non-null object
range_mode_trip                        95 non-null object
comments                               389 non-null object
typical_range_consumption              105 non-null object
typical_range_correction               87 non-null float64
remaining_usable_capacity              87 non-null float64
remaining_original_capacity            87 non-null float64
trip_based_capacity                    87 non-null object
range_mode_adjustment                  570 non-null float64
vehicle_age                            1152 non-null float64
vehicle_cycles                         1142 non-null float64
mileage_in_km                          1156 non-null float64
wh_km                                  1142 non-null float64
used_for_chart                         234 non-null float64
average_capacity_according_to_chart    1156 non-null float64
deviation_in_capacity                  1156 non-null float64
dynamic_data                           1156 non-null object
static_data                            1156 non-null object
mixed_data                             1156 non-null object
dtypes: datetime64[ns](2), float64(27), int64(1), object(19)
memory usage: 442.6+ KB

In [22]:
tesla_survey.isnull().sum()

id                                        0
username                                  0
location                                  0
manufacture_date                          4
range_reading_date                        0
model                                     0
mileage                                   0
mileage_per_day                           4
range_at_full                             0
range_mode                                0
range_after_correction                    0
battery_replacement                       0
change_after_replacement               1090
range_at_replacement                   1091
mileage_after_replacement                 0
battery_age                               4
lifetime_avg_energy_consumption          14
range_when_new                            0
remaining_range                           0
remaining_capacity                        0
unanswered                                0
supercharging_frequency                  96
full_charge_frequency                   100
empty_charge_frequency                  100
daily_charge                            257
daily_charge_power                      433
new_car_charge                          586
range_mode_new                          576
typical_range_trip_start               1054
typical_range_trip_end                 1061
trip_consumption                       1067
range_mode_trip                        1061
comments                                767
typical_range_consumption              1051
typical_range_correction               1069
remaining_usable_capacity              1069
remaining_original_capacity            1069
trip_based_capacity                    1069
range_mode_adjustment                   586
vehicle_age                               4
vehicle_cycles                           14
mileage_in_km                             0
wh_km                                    14
used_for_chart                          922
average_capacity_according_to_chart       0
deviation_in_capacity                     0
dynamic_data                              0
static_data                               0
mixed_data                                0
dtype: int64

It is evident that most users decided not to provide optional information about the typical range of consumption for their last trip (columns "typical_range_trip_start":"trip_based_capacity"). Therefore, these columns should be excluded.

In [23]:
columns_to_remove = ['typical_range_trip_start','typical_range_trip_end','trip_consumption', 'range_mode_trip', 
                     'typical_range_consumption', 'typical_range_correction','remaining_usable_capacity',
                    'remaining_original_capacity','trip_based_capacity']
tesla_survey.drop(columns_to_remove, inplace=True, axis=1)
tesla_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 40 columns):
id                                     1156 non-null int64
username                               1156 non-null object
location                               1156 non-null object
manufacture_date                       1152 non-null datetime64[ns]
range_reading_date                     1156 non-null datetime64[ns]
model                                  1156 non-null object
mileage                                1156 non-null float64
mileage_per_day                        1152 non-null float64
range_at_full                          1156 non-null float64
range_mode                             1156 non-null object
range_after_correction                 1156 non-null float64
battery_replacement                    1156 non-null object
change_after_replacement               66 non-null object
range_at_replacement                   65 non-null float64
mileage_after_replacement              1156 non-null float64
battery_age                            1152 non-null float64
lifetime_avg_energy_consumption        1142 non-null float64
range_when_new                         1156 non-null float64
remaining_range                        1156 non-null float64
remaining_capacity                     1156 non-null float64
unanswered                             1156 non-null float64
supercharging_frequency                1060 non-null object
full_charge_frequency                  1056 non-null object
empty_charge_frequency                 1056 non-null object
daily_charge                           899 non-null float64
daily_charge_power                     723 non-null object
new_car_charge                         570 non-null float64
range_mode_new                         580 non-null object
comments                               389 non-null object
range_mode_adjustment                  570 non-null float64
vehicle_age                            1152 non-null float64
vehicle_cycles                         1142 non-null float64
mileage_in_km                          1156 non-null float64
wh_km                                  1142 non-null float64
used_for_chart                         234 non-null float64
average_capacity_according_to_chart    1156 non-null float64
deviation_in_capacity                  1156 non-null float64
dynamic_data                           1156 non-null object
static_data                            1156 non-null object
mixed_data                             1156 non-null object
dtypes: datetime64[ns](2), float64(22), int64(1), object(15)
memory usage: 361.3+ KB

"used_for_chart" information is used for plotting data in excel. We can eliminate it from the data frame.

In [24]:
tesla_survey.drop('used_for_chart', inplace=True, axis=1)

In [25]:
tesla_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 39 columns):
id                                     1156 non-null int64
username                               1156 non-null object
location                               1156 non-null object
manufacture_date                       1152 non-null datetime64[ns]
range_reading_date                     1156 non-null datetime64[ns]
model                                  1156 non-null object
mileage                                1156 non-null float64
mileage_per_day                        1152 non-null float64
range_at_full                          1156 non-null float64
range_mode                             1156 non-null object
range_after_correction                 1156 non-null float64
battery_replacement                    1156 non-null object
change_after_replacement               66 non-null object
range_at_replacement                   65 non-null float64
mileage_after_replacement              1156 non-null float64
battery_age                            1152 non-null float64
lifetime_avg_energy_consumption        1142 non-null float64
range_when_new                         1156 non-null float64
remaining_range                        1156 non-null float64
remaining_capacity                     1156 non-null float64
unanswered                             1156 non-null float64
supercharging_frequency                1060 non-null object
full_charge_frequency                  1056 non-null object
empty_charge_frequency                 1056 non-null object
daily_charge                           899 non-null float64
daily_charge_power                     723 non-null object
new_car_charge                         570 non-null float64
range_mode_new                         580 non-null object
comments                               389 non-null object
range_mode_adjustment                  570 non-null float64
vehicle_age                            1152 non-null float64
vehicle_cycles                         1142 non-null float64
mileage_in_km                          1156 non-null float64
wh_km                                  1142 non-null float64
average_capacity_according_to_chart    1156 non-null float64
deviation_in_capacity                  1156 non-null float64
dynamic_data                           1156 non-null object
static_data                            1156 non-null object
mixed_data                             1156 non-null object
dtypes: datetime64[ns](2), float64(21), int64(1), object(15)
memory usage: 352.3+ KB

In [26]:
tesla_survey[tesla_survey.manufacture_date.isnull()]

,id,username,location,manufacture_date,range_reading_date,model,mileage,mileage_per_day,range_at_full,range_mode,...,range_mode_adjustment,vehicle_age,vehicle_cycles,mileage_in_km,wh_km,average_capacity_according_to_chart,deviation_in_capacity,dynamic_data,static_data,mixed_data
73,74,RealNuke,Asia Pacific & Europe (excl UK),NaT,2015-01-15,Unspecified 85 kWh,32080.0,NaN,380.0,Off,...,NaN,NaN,113.93,32080.0,270.0,0.963979,-0.001979,RealNuke|Asia Pacific & Europe (excl UK)|30-De...,RealNuke|Asia Pacific & Europe (excl UK)|30-De...,RealNuke|Asia Pacific & Europe (excl UK)|30-De...
218,219,Eelcodb,Asia Pacific & Europe (excl UK),NaT,2015-07-31,Model S 85,13200.0,NaN,384.0,Off,...,NaN,NaN,33.99,13200.0,197.0,0.979508,-0.004908,Eelcodb|Asia Pacific & Europe (excl UK)|30-Dec...,Eelcodb|Asia Pacific & Europe (excl UK)|30-Dec...,Eelcodb|Asia Pacific & Europe (excl UK)|30-Dec...
881,882,Dakine,Asia Pacific & Europe (excl UK),NaT,2017-09-28,Model S 75,14806.0,NaN,379.0,Off,...,NaN,NaN,NaN,14806.0,NaN,0.977701,0.016599,Dakine|Asia Pacific & Europe (excl UK)|30-Dec-...,Dakine|Asia Pacific & Europe (excl UK)|30-Dec-...,Dakine|Asia Pacific & Europe (excl UK)|30-Dec-...
1154,1155,John,UK,NaT,2017-08-18,Model S 75D,3000.0,NaN,238.7,On,...,NaN,NaN,12.66,4828.0,190.0,0.991147,-0.000647,John|UK|30-Dec-1899|18-Aug-2017|Model S 75D|30...,John|UK|30-Dec-1899|18-Aug-2017|Model S 75D|30...,John|UK|30-Dec-1899|18-Aug-2017|Model S 75D|30...

In [27]:
tesla_survey.model.value_counts()

Model S 85            439
Model S P85           163
Model S 85D           101
Model S 70D            90
Model S 90D            83
Model S P85D           81
Model S 60             44
Model S P85+           42
Model S 75             28
Unspecified 85 kWh     24
Model S 90D 2015       14
Model S 75D            11
Model S 70              7
Model X 90D             7
Model S 60D             5
Model S P90D            5
Model X 100D            4
Model S P100D           4
Model S 90              2
Model X P90D            1
Model X 60D             1
Name: model, dtype: int64